<div class="pb-5" style="background-image: linear-gradient(#00000080,#00000080), url('{{ page.imgURL }}');background-size: cover;margin-top: -100px;">
        <div class="container" style="padding: 90px;"></div>
        <div class="container container-override row" style="margin: 0 auto;">
          <div class="col-sm-6 justify-content-center d-flex">
            <img class="custom-radius-1" width="200px" src="{{ page.imgURL }}">
          </div>
          <div class="col-sm-6 d-flex justify-content-center flex-column text-white">
            <h1 class="font-italic" style="font-weight: 200;">{{ page.title }}</h1>
            <h4>{{ page.year }}</h4>
          </div>
        </div>
      </div>