<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

<div class="row text-white py-3 bg-dark footer-radius">
        <div class="col-sm-6 d-flex justify-content-center text-light pt-3">
          <ul class="m-0 p-0" style="list-style-type: none;">
            <li>Home</li>
            <li>Categories</li>
            <li>Discography Timeline</li>
            <li>Weather sytems & more</li>
            <li>About anathema</li>
          </ul>
        </div>
        <div class="col-sm-6 flex-column d-flex align-items-center justify-content-center pt-3">
          <p>Find Anathema Music on:</p>
          <div class="d-flex align-items-center justify-content-center social-buttons">
            <button class="mx-1 bg-success rounded-circle"><i class="text-dark fa-brands fa-spotify"></i></button>
            <button class="mx-1 bg-deezer rounded-circle"><i class="text-dark fa-brands fa-deezer"></i></button>
            <button class="mx-1 bg-primary rounded-circle"><i class="text-dark fa-brands fa-telegram"></i></button>
            <a href="https://www.anathemamusic.com/" target="_blank">
              <button class="mx-1 rounded-circle">
                <i class="text-dark fa-solid fa-earth-americas"></i>
              </button>
            </a>
          </div>
          </div>
        <div class="col-sm-12 text-center text-muted pt-3">
          Websight by <a href="#">Hita99</a> all rights reserved &copy;
        </div>
      </div>