<div class="" style="border-left: 3px solid #00000030;margin-left: 15%; padding: 15px 0 15px 25px;">
  
    <div class="row">
      <a class="d-flex" href="{{ include.link | relative_url }}">
      <div>
        <img class="mr-2 custom-radius-1" src="{{ include.image }}" alt="{{ include.title }} album cover" width="170px">
      </div></a>
      <a class="p-0 text-dark d-flex col-sm-6 mx-width50" href="{{ include.link | relative_url }}">
      <div class="pl-2 pt-2">
        <h3>{{ include.title }}</h3>
        <p>{{ include.type }}</p>
      </div>
      </a>
    </div>

</div>
