    body{
      font-family: "Montserrat", sans-serif !important;
      font-weight: 300;
    }
    h1, h2, h3, h4, h5, h6{
      font-family: "Montserrat", sans-serif !important;
    }
    .container-override{
      width: 100% !important;
    }
    .container{
      width: 100% !important;
    }
    .fweight-ligth{
      font-weight: 200;
    }
    .row{
      margin-left: 0;
      margin-right: 0;
    }
    .navbar-toggler{
      border-color: #fff !important;
      border: 0px solid white !important;
    }
      .custom-radius-3{
      border-radius: 2.25rem !important;
      overflow: clip;
    }      
    
    @media screen and (min-width: 768px) {
      .custom-radius-3
    {
      border-radius: 4.25rem !important;
    } 
    }
    .custom-radius-2
    {
      border-radius: 2.25rem !important;
      overflow: clip;    
    }
    @media screen and (max-width: 768px) {
      .custom-radius-2
    {
      border-radius: 1.25rem !important;
    } 
    }
    .custom-radius-1{
      border-radius: 1.25rem !important;
    }
    @media screen and (max-width:768px){
      .deco-logo{
        display:none;
      }
    }
    .dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    }

    .button-custom-dark{
      font-weight: 600;
      background-color: #ffffff30;
      color:white;
      float: left;
      padding: 10px;
      border-radius: 8px;
    }
    .button-custom-dark:hover{
      background-color: #ffffff00;
      transition: 0.3s;
    }
    @media screen and (max-width:575px) {
    .popo{
      width: 50% !important;
    }}
    .black-hover{
      background: #00000060;    
    }
    .black-hover:hover{
      background-color: #00000000;
      transition: 200ms;
    }
    .footer-radius{
      border-radius: 2.25rem 2.25rem 0 0 ;
    }
    .color-deezer{
      color:#a238ff;
    }
    .bg-deezer{
      background-color: #a238ff;
    }
    .color-soundcloud{
      color: #FF5500;
    }
    .social-buttons button{
      width: 29px;
      height: 29px;
    }
