<!DOCTYPE html>
<html>
<head>
 {% include head.html %}
</head>

<body>
      <!--navbar-->
      {% include navbar-albums.html %}

      <!--top header-->
      {% include album-header.html %}

      <div class="container">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <div class="my-5 text-center">
              {% if page.spotifyLink %}
              <a href="{{ page.spotifyLink }}" target="_blank">            
                <button type="button" class="my-2 btn btn-dark">
                  <i class="text-success fa-brands fa-spotify"></i>&nbsp;Listen on Spotify
                </button>
              </a>
              {% endif %}
              {% if page.deezerLink %}
              <a href="{{ page.deezerLink }}" target="_blank">            
                <button type="button" class="my-2 btn btn-dark">
                  <i class="color-deezer fa-brands fa-deezer"></i>&nbsp;Listen on Deezer
                </button>
              </a>
              
              {% endif %}
              {% if page.soundcloudLink %}
              <a href="{{ page.soundcloudLink }}" target="_blank">            
                <button type="button" class="my-2 btn btn-dark">
                  <i class="color-soundcloud fa-brands fa-soundcloud"></i>&nbsp;Listen on Soundcloud
                </button>
              </a>
              
              {% endif %}
            </div>
            <h3 class="pb-3 font-weight-light">TrackList</h3>
            <table class="table table-sm tracklist">
                <thead class="thead-dark">
                  <tr>
                    <th>Track</th>
                    <th>Length</th>
                    <th></th>
                  </tr>
                </thead>
              <tbody>
                {% for track in page.tracklist %}
                <tr>
                  <td>{{ track.title }}</td>
                  <td>{{ track.length }}</td>
                  {% if track.source %}
                  <td>{{ track.source }}</td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-sm-2"></div>
          
        </div>

        <p>{{ page.note }}</p>
        <div>
          {{ page.description }}
        </div>
      </div>


  {% include footer.html %}
</body>
</html>
