<!DOCTYPE html>
<html>
<head>
 {% include head.html %}
</head>

<body>
      <!--navbar-->
      {% include navbar-albums.html %}

      <!--top header-->
      <div class="pb-5" style="background-image: linear-gradient(#00000080,#00000080), url('{{ page.imgURL }}');background-size: cover;margin-top: -100px;">
        <div class="container" style="padding: 90px;"></div>
        <div class="container container-override row" style="margin: 0 auto;">
          <div class="col-sm-6 justify-content-center d-flex">
            <img class="custom-radius-1" width="200px" src="{{ page.imgURL }}">
          </div>
          <div class="col-sm-6 d-flex justify-content-center flex-column text-white">
            <h1 class="font-italic" style="font-weight: 200;">{{ page.title }}</h1>
            <h4>{{ page.year }}</h4>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <div class="my-5 text-center">
              <a href="https://google.com" target="_blank">            
                <button type="button" class="btn btn-dark">
                  <i class="text-success fa-brands fa-spotify"></i>&nbsp;Listen to {{ page.title }} on Spotify
                </button>
              </a>
            </div>
            <h3 class="pb-3 font-weight-light">TrackList</h3>
            <table class="table table-sm tracklist">
                <thead class="thead-dark">
                  <tr>
                    <th>Track</th>
                    <th>Length</th>
                    <th></th>
                  </tr>
                </thead>
              <tbody>
                {% for track in page.tracklist %}
                <tr>
                  <td>{{ track.title }}</td>
                  <td>{{ track.length }}</td>
                  {% if track.source %}
                  <td>{{ track.source }}</td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-sm-2"></div>
          
        </div>

        <p>{{ page.note }}</p>
        <div>
          {{ page.description }}
        </div>
    </div>
  </div>








  {% include footer.html %}
</body>
</html>
